div {
  display: block;
}
.card{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
}
.header{
  width: inherit;
  max-width:100%;
  background-color: rgba(240, 240, 240, 0.6);
  padding-top: 10px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  box-sizing: border-box;
  flex-flow: row wrap;
  border: 2px solid rgba(240, 240, 240, 0.6);
  border-radius: 30px;
}
.search-field{
  height: 40px;
  padding: 10px;
  box-sizing:border-box;
  display: inline-flex;
  border: 1px solid #dcdee2;
  border-radius: 30px;
}
.search-btn{
  height: 40px;
  width: 150px;
  background: #ea1d5d;
  border: none;
  border-radius: 30px;
  color: #fff;
}
.search-btn:hover{
  background: #ea1d3c;
  cursor: pointer;
}
.ivu-table {
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  color: #515a6e;
  font-size: 14px;
  background-color: #fff;
  box-sizing: border-box;
}
.ivu-table-header {
  background-color: rgba(240, 240, 240, 0.6);
  overflow: hidden;
  box-sizing: border-box;
}
.ivu-table table {
  width: 100%!important;
  table-layout: fixed;
}
table {
  text-align: center;
  display: table;
  border-collapse: separate;
  text-indent: initial;
  border-color: grey;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.ivu-table-border td, .ivu-table-border th {
  border-right: 1px solid #e8eaec;
}
.ivu-table td {
  background-color: #fff;
  transition: background-color .2s ease-in-out;
  min-width: 0;
  height: 48px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  vertical-align: middle;
  border-bottom: 1px solid #e8eaec;
}
.ivu-btn-ghost.ivu-btn-info {
  color: #ea1d5d;
}
.ivu-btn-error {
  color: #fff;
  background-color: #ea1d5d;
  border-color: #ea1d5d;
}
.ivu-btn-small {
  height: 24px;
  padding: 0 7px;
  font-size: 12px;
  border-radius: 3px;
}
.ivu-btn, .ivu-btn:active, .ivu-btn:focus {
  outline: 0;
  line-height: 1.5;
}
.ivu-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  user-select: none;
  transition: color .2s linear,background-color .2s linear,border .2s linear,box-shadow .2s linear,-webkit-box-shadow .2s linear;
}