  body {
            background: url(../image/Base.jpg) repeat center;
            padding-bottom: 25px;
        }

        div.box {
            width: 95%;
            margin: 50px auto 0;
        }

        div.box table {
            border-collapse: collapse;
            width: 100%;
            text-align: center;
            background-color: #f6f6f6;
            opacity: 0.9;
        }

        div.box table td, div.box th {
            border: 1px solid #999;
        }

        div.box th {
            height: 40px;
        }

        div.box table tbody img {
            height: 50px;
        }

        div.box table tbody tr span {
            cursor: default;
        }

        div.box table tbody tr td:nth-child(2) img {
            vertical-align: middle;
        }

        div.box table tbody tr td:nth-child(4) span {
            display: inline-block;
            width: 15px;
            line-height: 30px;
            background-color: #666;
            color: #eee;
            vertical-align: middle;
        }

        div.box table tbody tr td:nth-child(4) input {
            width: 20px;
            height: 20px;
            outline: none;
            vertical-align: middle;
            text-align: center;
        }

        div.box table tbody tr td:nth-child(6) span {
            padding: 4px 10px;
            background-color: #999;
            color: white;
        }

        div.box div.bottom {
            position: fixed;

            left: 0px;

            bottom: 0px;

            width: 100%;

            height: 25px;

            padding: 15px 0;
            /*margin-top: 15px;*/
            /*height: 25px;*/
            background-color: white;
            display: flex;
            justify-content: space-evenly;
            position: relative;
            opacity: 0.9;
        }

        div.box div.bottom span.delAll {
            cursor: pointer;
            padding: 0 10px;
            height: 22px;
            background-color: black;
            color: white;
        }

        div.box div.bottom .js {
            padding: 0 10px;
            background-color: black;
            color: white;
            margin-right: 10px;
            cursor: pointer;
            font-size: 17px;
        }

        div.box div.bottom {
            height: 22px;
        }

        div.box div.bottom aside div {
            display: inline-block;
        }

        div.box div.bottom aside div span {
            position: absolute;
            width: 50px;
            line-height: 20px;
            padding: 0 5px;
            background-color: rgba(255, 255, 255, .4);
            color: #333;
            font-size: 10px;
            margin-left: -60px;
            margin-top: 20px;
            transform: rotate(30deg);
            cursor: pointer;
        }

        div.box div.bottom aside img {
            height: 60px;
            vertical-align: middle;
        }

        div.box div.bottom aside {
            position: absolute;
            background-color: #0a74cb;
            width: 100%;
            top: -70px;
            padding: 5px;
            box-sizing: border-box;
            display: none;
        }

        div.box div.bottom aside.on {
            display: block;
        }

        div.box div.bottom aside:after {
            position: absolute;
            content: "";
            border: 10px solid transparent;
            border-top-color: #0a74cb;
            bottom: -19px;
            right: 280px;
        }

        div.box div.bottom a, div.box div.bottom a:visited {
            color: #0b97ff;
            text-decoration: none;
        }



        .toumingzi {
            position: absolute;
            left: 50%;
            margin-left: -350px;

            background: #baccec;
            /*透明度*/
            opacity: 0.9;
            /*字体居中*/
            text-align: center;
            /*div标签上移*/
            top: 0.1px;
            width: 700px;
            height: 700px;
        }
        .payword{
            font-size: 24px;
            font-family: "Poppins", Arial, sans-serif;

        }
        .payword1{
            font-size: 48px;
        }

        .paybt{
            width: 100px;
            height: 60px;
            background:linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
            border: none;
            border-radius: 10px;
            font-family: 'Lato', sans-serif;
            font-weight: 500;
            font-size: 24px;
            color: #fff;
            box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
            7px 7px 20px 0px rgba(0, 0, 0, .1),
            4px 4px 5px 0px rgba(0, 0, 0, .1);
            outline: none;
            position: relative;
            margin:0 50px;
            z-index: 0;
        }
        .paybt::before{
            position:absolute;
            content: '';
            left: 0;
            bottom:0;
            width: 100%;
            height: 0;
            transition: all 0.3s ease;
            border-radius: 10px;
            background: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
            z-index: -1;
        }
        .paybt:hover::before{
            top: 0;
            height: 100%;
        }
        .paybt:active{
            top: 2px;
        }

        .pay{
            background:transparent;
            border-width:0px;
            outline:none;
            color: white;
        }

