{% extends "base.html" %}
{% block content %}
      <!--meta tags -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="Toys Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design">
      <script>
         addEventListener("load", function () {
         	setTimeout(hideURLbar, 0);
         }, false);
         
         function hideURLbar() {
         	window.scrollTo(0, 1);
         }
      </script>
      <!--//meta tags ends here-->
      <!--booststrap-->
      <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
      <!--//booststrap end-->
      <!-- font-awesome icons -->
      <link href="../static/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
      <!-- //font-awesome icons -->
      <!--Shoping cart-->
      <link rel="stylesheet" href="../static/css/shop.css" type="text/css">
      <!--//Shoping cart-->
      <!--stylesheets-->
      <link href="../static/css/style.css" rel='stylesheet' type='text/css' media="all">
      <!--//stylesheets-->

      <!-- banner -->
      <div class="inner_page-banner one-img">
      </div>
      <!--//banner -->
      <!-- short -->
      <div class="using-border py-3">
         <div class="inner_breadcrumb  ml-4">
            <ul class="short_ls">
               <li>
                  <a href="index">Home</a>
                  <span>/ /</span>
               </li>
               <li>About</li>
            </ul>
         </div>
      </div>
      <!-- //short-->
      <!--About -->
      <section class="about py-lg-4 py-md-3 py-sm-3 py-3">
         <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3 i18n" contrastName="About_Us">About Us</h3>
            <div class="about-innergrid-agile text-center">
               <h4 class="i18n" contrastName="Welcome">Welcome To Our Store</h4>
               <p class="mb-3 i18n" contrastName="About_p1"> Doraemon Musical Instrument Co.  is a famous brand of piano and drum.
                   The company is run by the family, has been opening offline stores, has been selling
                   Musical Instruments in the local for many years, accumulated a good reputation,
                   all kinds of Musical Instruments superior quality, excellent sound quality.
               </p>
                <p class="i18n" contrastName="About_p2">At present, we have opened an online shopping channel to welcome our dear customers
                   to buy our instruments.  We provide professional after-sales service, support
                   door-to-door delivery, free door-to-door repair within the warranty period.  In addition,
                   there is a special customer service can answer all your questions about the instrument.</p>
               <div class=" img-toy-w3l-top">
               </div>
            </div>
            <div class="about-sub-inner text-center mt-lg-4 mt-3">
               <h4 class="i18n" contrastName="Faster_Better">A faster and better to shop</h4>
               <div class="row">
                  <div class="col-lg-4 col-md-4 abut-gride">
                     <span class="fas fa-truck"></span>
                     <h5 class="i18n" contrastName="Shipping">Shipping</h5>
                     <p class="mt-3 i18n" contrastName="Shipping_p"> Providing the door-to-door delivery, and there are professionals to help you install.
                     </p>
                  </div>
                  <div class="col-lg-4 col-md-4 abut-gride">
                     <span class="fas fa-phone-volume"></span>  
                     <h5 class="i18n" contrastName="Support">Support</h5>
                     <p class="mt-3 i18n" contrastName="Support_p">
                         Providing professional after-sales service, and free door-to-door repair within the warranty period.
                     </p>
                  </div>
                  <div class="col-lg-4 col-md-4 abut-gride">
                     <span class="fas fa-undo"></span>
                     <h5 class="i18n" contrastName="Return">Return</h5>
                     <p class="mt-3 i18n" contrastName="Return_p"> If the product has quality problem, we support free return.
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!--//about -->
      <!--Customers Review -->
      <section class="clients py-lg-4 py-md-3 py-sm-3 py-3" id="clients">
         <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
            <h3 class="title clr text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3 i18n" contrastName="RECOMMEND">Sale Recommended</h3>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="row">
                        <div class="col-lg-6 clients-w3layouts-row">
                           <div class="least-w3layouts-text-gap">
                              <div class="row">
                                 <div class="col-md-4 col-sm-4 news-img">
                                    <img src="../static/picture/Gunther.png" alt="" class="image-fluid">
                                 </div>
                                 <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                                    <h4>Gunther
                                    </h4>
                                    <span class="mt-2 i18n" contrastName="S_D">Sales Director</span>
                                 </div>
                                 <div class="mt-3 news-agile-text">
                                    <img src="../static/instruments/piano.jpg" alt="" class="image-fluid" style="height: 470px">
                                    <p class="mt-3"><span class="fas fa-quote-left"></span>
                                        <p class="i18n" contrastName="Piano_REC" style="margin-left: 30px">
                                        Our pianos are not only affordable,
                                        but also provide warranty service and tuning service.
                                        If the goods you receive have any quality problems,
                                        we will unconditionally return for you.
                                        </p>
                                        <span class="fas fa-quote-right"></span>
                                    </p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-6 clients-w3layouts-row">
                           <div class="least-w3layouts-text-gap">
                              <div class="row">
                                 <div class="col-md-4 col-sm-4 news-img">
                                    <img src="../static/picture/Morris.png" alt="" class="image-fluid">
                                 </div>
                                 <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                                    <h4>Morris
                                    </h4>
                                    <span class="mt-2 i18n" contrastName="S_VD">Sales Vice Director</span>
                                 </div>
                                 <div class="mt-3 news-agile-text">
                                    <img src="../static/instruments/drum.png" alt="" class="image-fluid" style="height: 470px">
                                    <p class="mt-3"><span class="fas fa-quote-left"></span>
                                        <p class="i18n" contrastName="Drum_REC" style="margin-left: 30px">
                                        Our drums are of good quality, and we will give you some common accessories. Warranty service is also provided.
                                        If there is any quality problem with the goods you receive,
                                        We will return and exchange the goods for you unconditionally.
                                        </p>
                                        <span class="fas fa-quote-right"></span>
                                    </p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                   <div class="carousel-item">
                     <div class="row">
                        <div class="col-lg-6 clients-w3layouts-row">
                           <div class="least-w3layouts-text-gap">
                              <div class="row">
                                 <div class="col-md-4 col-sm-4 news-img">
                                    <img src="../static/picture/Lewis.png" alt="" class="image-fluid">
                                 </div>
                                 <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                                    <h4>Lewis
                                    </h4>
                                    <span class="S_VD">Sales Vice Director</span>
                                 </div>
                                 <div class="mt-3 news-agile-text">
                                    <img src="../static/instruments/harmonica.jpg" alt="" class="image-fluid" style="height: 470px">
                                    <p class="mt-3"><span class="fas fa-quote-left"></span>
                                        <p class="i18n" contrastName="Harmonica_REC" style="margin-left: 30px">
                                        Our harmonica is of good quality, and we will give you a harmonica bag as a gift. Warranty service is also provided.
                                        If there is any quality problem with the goods you receive,
                                        We will return and exchange the goods for you unconditionally.
                                        </p>
                                        <span class="fas fa-quote-right"></span>
                                    </p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-6 clients-w3layouts-row">
                           <div class="least-w3layouts-text-gap">
                              <div class="row">
                                 <div class="col-md-4 col-sm-4 news-img">
                                    <img src="../static/picture/Pierre.png" alt="" class="image-fluid">
                                 </div>
                                 <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                                    <h4>Pierre
                                    </h4>
                                    <span class="mt-2 i18n" contrastName="S_VD">Sales Vice Director</span>
                                 </div>
                                 <div class="mt-3 news-agile-text">
                                    <img src="../static/instruments/erhu.jpg" alt="" class="image-fluid" style="height: 470px">
                                    <p class="mt-3"><span class="fas fa-quote-left"></span>
                                        <p class="i18n" contrastName="Erhu_REC" style="margin-left: 30px">
                                        Our erhu is of good quality at a favorable price. Warranty service is also provided.
                                        If there is any quality problem with the goods you receive,
                                        We will return and exchange the goods for you unconditionally.
                                        </p>
                                     <span class="fas fa-quote-right"></span>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
               </a>
               <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
               <span class="carousel-control-next-icon" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
               </a>
            </div>
         </div>
      </section>
      <!--//Customers Review -->
      <!--subscribe-address-->
      <section class="subscribe">
         <div class="container-fluid">
         <div class="row">
           <div class="col-lg-6 col-md-6 map-info-right px-0 text-center">
                    <div class="address-gried-2">
                        <b class="i18n" contrastName="DIS">Doraemon Instrument Store</b>
                        <p class="i18n" contrastName="GYBCOI">
                            Give you best choices of instruments!
                        </p>
                    </div>
                </div>
            <div class="col-lg-6 col-md-6 address-w3l-right text-center">
<!--               <div class="address-gried ">-->
<!--                  <span class="far fa-map"></span>-->
<!--                  <p>25478 Road St.121<br>USA New Hill-->
<!--                  <p>-->
<!--               </p></div>-->
               <div class="address-gried mt-3">
                  <span class="fas fa-phone-volume"></span>
                  <p> 13718691558<br></p>
               </div>
               <div class=" address-gried mt-3">
                  <span class="far fa-envelope"></span>
                  <p><a href="mailto:info@example.com">519315516@qq.com</a>
<!--                     <br><a href="mailto:info@example.com">info@example2.com</a>-->
                  </p>
               </div>
            </div>
         </div>
		 </div>
      </section>
      <!--//subscribe-address-->

      <!--//subscribe-->
      <!-- footer -->
      <footer class="py-lg-4 py-md-3 py-sm-3 py-3 text-center">
         <div class="copy-agile-right">
            <p class="i18n" contrastName="BTTT">Back to the top</p>
         </div>
      </footer>
      <!-- //footer -->
      <!-- Modal 1-->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <div class="register-form">
                     <form action="#" method="post">
                        <div class="fields-grid">
                           <div class="styled-input">
                              <input type="text" placeholder="Your Name" name="Your Name" required="">
                           </div>
                           <div class="styled-input">
                              <input type="email" placeholder="Your Email" name="Your Email" required="">
                           </div>
                           <div class="styled-input">
                              <input type="password" placeholder="password" name="password" required="">
                           </div>
                           <button type="submit" class="btn subscrib-btnn">Login</button>
                        </div>
                     </form>
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               </div>
            </div>
         </div>
      </div>
      <!-- //Modal 1-->
      <!--js working-->
      <script src='../static/js/jquery-2.2.3.min.js'></script>
      <!--//js working-->
      <!-- cart-js -->
      <script src="../static/js/minicart.js"></script>
      <script>
        $(document).ready(function (){
          jump();
        });
         toys.render();
         
         toys.cart.on('toys_checkout', function (evt) {
         	var items, len, i;
         
         	if (this.subtotal() > 0) {
         		items = this.items();
         
         		for (i = 0, len = items.length; i < len; i++) {}
         	}
         });
      </script>
      <!-- //cart-js -->
      <!-- start-smoth-scrolling -->
      <script src="../static/js/move-top.js"></script>
      <script src="../static/js/easing.js"></script>
      <script>
         jQuery(document).ready(function ($) {
         	$(".scroll").click(function (event) {
         		event.preventDefault();
         		$('html,body').animate({
         			scrollTop: $(this.hash).offset().top
         		}, 900);
         	});
         });
      </script>
      <!-- start-smoth-scrolling -->
      <!-- here stars scrolling icon -->
      <script>
         $(document).ready(function () {
         
         	var defaults = {
         		containerID: 'toTop', // fading element id
         		containerHoverID: 'toTopHover', // fading element hover id
         		scrollSpeed: 1200,
         		easingType: 'linear'
         	};
         
         
         	$().UItoTop({
         		easingType: 'easeOutQuart'
         	});
         
         });
      </script>
      <!-- //here ends scrolling icon -->
      <!--bootstrap working-->
      <script src="../static/js/bootstrap.min.js"></script>
      <!-- //bootstrap working-->      <!-- //OnScroll-Number-Increase-JavaScript -->
{% endblock %}
