{% extends "base.html" %}
{% block content %}
    <!--meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Toys Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <style>
        .right:before {
          background-image: url("{{ icon }}");
          background-size: 50px;
        }
        </style>

        <style>
        .left:before {
          background-image: url("/static/uploaded_AVA/{{ contact_icon }}");
          background-size: 50px;
        }

        </style>




    <!--//meta tags ends here-->
    <!--booststrap-->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <!--//booststrap end-->
    <!-- font-awesome icons -->
    <link href="../static/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
    <!-- //font-awesome icons -->
    <!--Shoping cart-->
    <link rel="stylesheet" href="../static/css/shop.css" type="text/css">
    <!--//Shoping cart-->
    <!--price range-->
    <link rel="stylesheet" type="text/css" href="../static/css/jquery-ui1.css">
    <!--//price range-->
    <!--stylesheets-->
    <link href="../static/css/style.css" rel='stylesheet' type='text/css' media="all">
    <!--//stylesheets-->
    <link rel="stylesheet" href="../static/css/style1.css" media="screen" type="text/css"/>

    <!-- banner -->
    <div class="inner_page-banner one-img">
    </div>
    <!--//banner -->
    <!-- short -->
    <div class="using-border py-3">
        <div class="inner_breadcrumb  ml-4">
            <ul class="short_ls">
                {% if  authority == 1 %}
                <a class="list i18n" id="leaveroom" href="/adjust" contrastName="EXIT">Exit</a>
                {% else %}
                <a class="list i18n" id="leaveroom" href="/main_page" contrastName="EXIT">Exit</a>
                {% endif %}
                <li>
                    <a href="/index" class="i18n" contrastName="HOME">Home</a>
                    <span>/ /</span>
                </li>
                <li class="i18n" contrastName="CONTACT">Contact</li>
            </ul>
        </div>
    </div>
    <!-- //short-->
    <!--show Now-->
    <!--show Now-->
    <section class="contact py-lg-4 py-md-3 py-sm-3 py-3">
        <ul class="chat-thread">
            <div id="message-box" class="chat-thread" data-from="Sonu Joshi">

                    {% for send in message %}
                        {% if send.author_id == uid %}
                            <li class="right">{{ send.user_name }}:{{ send.content }}</li>
                        {% else %}
                            <li class="left">{{ send.user_name }}:{{ send.content }}</li>
                        {% endif %}
                    {% endfor %}
            </div>
        </ul>
        <div style="margin-top:20px;margin-left:10px;margin-right:10px;display: flex;flex-direction: row;">
            <input id='send-msg-inp'>

            <button type="button" id='send-msg-btn'
                    value="SEND" name="action" class="i18n" contrastName="SEND"><i>Send</i></button>
        </div>
    </section>
    <!-- //show Now-->
    <!--subscribe-address-->
    <section class="subscribe">
         <div class="container-fluid">
         <div class="row">
           <div class="col-lg-6 col-md-6 map-info-right px-0 text-center">
                    <div class="address-gried-2">
                        <b class="i18n" contrastName="DIS">Doraemon Instrument Store</b>
                        <p class="i18n" contrastName="GYBCOI">
                            Give you best choices of instruments!
                        </p>
                    </div>
                </div>
            <div class="col-lg-6 col-md-6 address-w3l-right text-center">
<!--               <div class="address-gried ">-->
<!--                  <span class="far fa-map"></span>-->
<!--                  <p>25478 Road St.121<br>USA New Hill-->
<!--                  <p>-->
<!--               </p></div>-->
               <div class="address-gried mt-3">
                  <span class="fas fa-phone-volume"></span>
                  <p> 13718691558<br></p>
               </div>
               <div class=" address-gried mt-3">
                  <span class="far fa-envelope"></span>
                  <p><a href="mailto:info@example.com">519315516@qq.com</a>
<!--                     <br><a href="mailto:info@example.com">info@example2.com</a>-->
                  </p>
               </div>
            </div>
         </div>
		 </div>
      </section>
      <!--//subscribe-address-->

      <!--//subscribe-->
      <!-- footer -->
      <footer class="py-lg-4 py-md-3 py-sm-3 py-3 text-center">
         <div class="copy-agile-right">
            <p class="i18n" contrastName="BTTT">Back to the top</p>
         </div>
      </footer>
    <!-- //footer -->
    <!-- Modal 1-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="register-form">
                        <form action="#" method="post">
                            <div class="fields-grid">
                                <div class="styled-input">
                                    <input type="text" placeholder="Your Name" name="Your Name" required="">
                                </div>
                                <div class="styled-input">
                                    <input type="email" placeholder="Your Email" name="Your Email" required="">
                                </div>
                                <div class="styled-input">
                                    <input type="password" placeholder="password" name="password" required="">
                                </div>
                                <button type="submit" class="btn subscrib-btnn">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- //Modal 1-->
    <!--js working-->
    <script src='../static/js/jquery-2.2.3.min.js'></script>
    <!--//js working-->
    <!-- cart-js -->
    <script src="../static/js/minicart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"></script>

    <script>
        let room = '{{ room }}'
        let username = '{{ username }}'
        let inp = document.querySelector('#send-msg-inp')
        let sendMsgBtn = document.querySelector('#send-msg-btn')
        let messageBox = document.querySelector('#message-box')
        let leaveroom = document.querySelector('#leaveroom')
        let socket = io();

        // 连接
        socket.connect(location.protocol + '//' + document.domain + ':' + location.port);

        // 加入房间
        socket.emit('join', {
            username: username,
            room: room
        })

        // 退出房间
        leaveroom.onclick = function () {
            socket.emit('leave', {
                username: username,
                room: room
            })
        }

        // 发送消息
        sendMsgBtn.onclick = function () {
            let inp = document.querySelector('#send-msg-inp')
            let msg = inp.value
            let user = '{{ username }}'
            inp.value = ''
            if (msg) {
                socket.emit('send msg', {
                    user: user,
                    message: msg,
                })
                messageBox.scrollTop = messageBox.scrollHeight
            } else {
                alert('消息不能为空')
            }
        }

        // 回车发送消息
        inp.addEventListener("keyup", function (event) {
            event.preventDefault();
            if (event.keyCode === 13) {
                sendMsgBtn.click();
            }
        });

        // 连接的信息
        socket.on('connect info', function (data) {
            console.log(data)
            let connectInfo = document.createElement('div')
            connectInfo.style = 'text-align: center'
            let msg = `<li >${data}</li>`
            connectInfo.innerHTML = msg
            messageBox.appendChild(connectInfo)
        })

        // 接受消息
        socket.on('send msg', function (data) {
            console.log(data)
            console.log(socket.id)
            let msg = null
            let msgbox = document.createElement('div')
            msgbox.className = 'message'
            if (data.user === '{{ username }}') {
                msg = `<li class="right"><b>${data.user}</b>:  ${data.message}</li>`
            } else {
                msg = `<li class="left" ><b>${data.user}</b>:  ${data.message}</li>`
            }
            msgbox.innerHTML = msg
            messageBox.appendChild(msgbox)
            messageBox.scrollTop = messageBox.scrollHeight
        })
    </script>


    <script>

        toys.render();

        toys.cart.on('toys_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) {
                }
            }
        });
    </script>
    <!-- //cart-js -->
    <!-- price range (top products) -->
    <script src="../static/js/jquery-ui.js"></script>
    <script>
        //<![CDATA[
        $(window).load(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 9000,
                values: [50, 6000],
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                }
            });
            $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

        }); //]]>
    </script>
    <!-- //price range (top products) -->

    <!-- start-smoth-scrolling -->
    <script src="../static/js/move-top.js"></script>
    <script src="../static/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- here stars scrolling icon -->
    <script>
        $(document).ready(function () {
            jump();

            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };


            $().UItoTop({
                easingType: 'easeOutQuart'
            });


        });
    </script>

    <script>
        function Ajax(type, url, data, success, failed) {
            // 创建ajax对象
            var xhr = null;
            if (window.XMLHttpRequest) {
                xhr = new XMLHttpRequest();
            } else {
                xhr = new ActiveXObject('Microsoft.XMLHTTP')
            }

            var type = type.toUpperCase();
            // 用于清除缓存
            var random = Math.random();

            if (typeof data == 'object') {
                var str = '';
                for (var key in data) {
                    str += key + '=' + data[key] + '&';
                }
                data = str.replace(/&$/, '');
            }

            if (type == 'GET') {
                if (data) {
                    xhr.open('GET', url + '?' + data, true);
                } else {
                    xhr.open('GET', url + '?t=' + random, true);
                }
                xhr.send();

            } else if (type == 'POST') {
                xhr.open('POST', url, true);
                // 如果需要像 html 表单那样 POST 数据，请使用 setRequestHeader() 来添加 http 头。
                xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhr.send(data);
            }

            // 处理返回数据
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4) {
                    if (xhr.status == 200) {
                        success(xhr.responseText);
                    } else {
                        if (failed) {
                            failed(xhr.status);
                        }
                    }
                }
            }
        }
    </script>

    <script>
        function HideList(name) {
            document.getElementById('light').style.display = 'none';
            document.getElementById('fade').style.display = 'none';
            situ = document.getElementById(name);
            situ.innerText = "Read";
        }

        function ShowList() {
            document.getElementById('light').style.display = 'block';
            document.getElementById('fade').style.display = 'block';
        }


        function collect(commodity) {
            var sendData = {
                "user_id": document.getElementById("user_id").value,
                "commodity_id": document.getElementById("commodity_id").value,
                "commodity": commodity

            };
            if ("{{ user_id }}" == "None") {
                alert("please login");
            } else
                Ajax('post', '/collect', sendData, function (data) {
                    if (document.getElementById("button_collect" + commodity).style.background === "rgb(255, 193, 7)") {
                        console.log("12")
                        document.getElementById("button_collect" + commodity).style.background = "#00b9ff"
                    } else {
                        console.log("123")
                        document.getElementById("button_collect" + commodity).style.background = "rgb(255, 193, 7)"
                    }
                    alert(data)
                    {#console.log("123");#}
                    {#location.reload();#}

                }, function (error) {
                    console.log(error);
                });
        }
    </script>

    <!-- //here ends scrolling icon -->
    <!--bootstrap working-->
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- //bootstrap working-->
{% endblock %}
