{% extends "base.html" %}
{% block content %}
      <!--meta tags -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="Toys Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design">
      <script>
         addEventListener("load", function () {
         	setTimeout(hideURLbar, 0);
         }, false);
         
         function hideURLbar() {
         	window.scrollTo(0, 1);
         }
      </script>
      <!--//meta tags ends here-->
      <!--booststrap-->
      <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
      <!--//booststrap end-->
      <!-- font-awesome icons -->
      <link href="../static/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
      <!-- //font-awesome icons -->
      <!-- For Clients slider -->
      <link rel="stylesheet" href="../static/css/flexslider.css" type="text/css" media="all">
      <!--flexs slider-->
      <!--Shoping cart-->
      <link rel="stylesheet" href="../static/css/shop.css" type="text/css">
      <!--//Shoping cart-->
      <!--stylesheets-->
      <link href="../static/css/style.css" rel='stylesheet' type='text/css' media="all">
      <!--//stylesheets-->


         <!-- Slideshow 4 -->
         <div class="slider text-center">
            <div class="callbacks_container">
               <ul class="rslides" id="slider4">
                  <li>
                     <div class="slider-img one-img">
                        <div class="container">
                           <div class="slider-info ">
                              <h5 class="i18n" contrastName="PTBIFY">Pick The Best Instrument For You</h5>
                              <div class="bottom-info">
                                 <p class="i18n" contrastName="NSCSS">Not so cheerful sound, sonorous, resounding and prolonged,
                                     in the heart, like some light and lively spirit, in a baptism of mind.</p>
                              </div>
                              <div class="outs_more-buttn">
                                 <a href="about" class="i18n" contrastName="READMORE">Read More</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </li>
                  <li>
                     <div class="slider-img two-img">
                        <div class="container">
                           <div class="slider-info ">
                              <h5 class="i18n" contrastName="HQGAP">High quality guitar and piano For Everyone</h5>
                              <div class="bottom-info">
                                 <p class="i18n" contrastName="NSCSS">Not so cheerful sound, sonorous, resounding and prolonged, in the heart, like some light and lively spirit, in a baptism of mind.</p>
                              </div>
                              <div class="outs_more-buttn">
                                 <a href="about" class="i18n" contrastName="READMORE">Read More</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </li>
                  <li>
                     <div class="slider-img three-img">
                        <div class="container">
                           <div class="slider-info">
                              <h5 class="i18n" contrastName="BIFE">Best Instrument For everyone</h5>
                              <div class="bottom-info">
                                 <p class="i18n" contrastName="NSCSS">Not so cheerful sound, sonorous, resounding and prolonged, in the heart, like some light and lively spirit, in a baptism of mind.</p>
                              </div>
                              <div class="outs_more-buttn">
                                 <a href="about" class="i18n" contrastName="READMORE">Read More</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </li>
               </ul>
            </div>
            <!-- This is here just to demonstrate the callbacks -->
            <!-- <ul class="events">
               <li>Example 4 callback events</li>
               </ul>-->
            <div class="clearfix"></div>
         </div>
      </div>
      <!-- //banner -->
      <!-- about -->
      <section class="about py-lg-4 py-md-3 py-sm-3 py-3" id="about">
         <div class="container py-lg-5 py-md-5 py-sm-4 py-4">
            <h3 class="title text-center mb-lg-5 mb-md-4  mb-sm-4 mb-3 i18n" contrastName="BestProducts">Best Products</h3>
            <div class="row banner-below-w3l">
               <div class="col-lg-4 col-md-6 col-sm-6 text-center banner-agile-flowers">
                  <img src="../static/instruments/clarionet.jpg" class="img-thumbnail" alt="">
                  <div class="banner-right-icon">
                     <h4 class="pt-3 i18n" contrastName="Clarionet">Clarionet</h4>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6 col-sm-6 text-center banner-agile-flowers">
                  <img src="../static/instruments/erhu.jpg" class="img-thumbnail" alt="">
                  <div class="banner-right-icon">
                     <h4 class="pt-3 i18n" contrastName="Erhu">Erhu</h4>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6 col-sm-6 text-center banner-agile-flowers">
                  <img src="../static/instruments/harmonica.jpg" class="img-thumbnail" alt="">
                  <div class="banner-right-icon">
                     <h4 class="pt-3 i18n" contrastName="Harmonica">Harmonica</h4>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6 col-sm-6 mt-3 text-center banner-agile-flowers">
                  <img src="../static/instruments/piano.jpg" class="img-thumbnail" alt="">
                  <div class="banner-right-icon">
                     <h4 class="pt-3 i18n" contrastName="Piano">Piano</h4>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6 col-sm-6 mt-3 text-center banner-agile-flowers">
                  <img src="../static/instruments/saxophone.jpg" class="img-thumbnail" alt="">
                  <div class="banner-right-icon">
                     <h4 class="pt-3 i18n" contrastName="Saxophone">Saxophone</h4>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6 col-sm-6 mt-3 text-center banner-agile-flowers">
                  <img src="../static/instruments/ukulele.jpg" class="img-thumbnail" alt="">
                  <div class="banner-right-icon">
                     <h4 class="pt-3 i18n" contrastName="Ukulele">Ukulele</h4>
                  </div>
               </div>
               <div class="toys-grids-upper">
                  <div class="about-toys-off">
                      <h2 class="i18n" contrastName="GO">Go </h2>
                      <span style="font-size: 28px" class="i18n" contrastName="SHOPNOW"> Shop now </span>
                      <h2 class="i18n" contrastName="CTGYLN">and choose the goods you like now! </h2>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!--//about -->
      <!--Customers Review -->
      <section class="clients py-lg-4 py-md-3 py-sm-3 py-3" id="clients">
         <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
            <h3 class="title clr text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3 i18n" contrastName="RECOMMEND">Sale Recommended</h3>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="row">
                        <div class="col-lg-6 clients-w3layouts-row">
                           <div class="least-w3layouts-text-gap">
                              <div class="row">
                                 <div class="col-md-4 col-sm-4 news-img">
                                    <img src="../static/picture/Gunther.png" alt="" class="image-fluid">
                                 </div>
                                 <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                                    <h4>Gunther
                                    </h4>
                                    <span class="mt-2 i18n" contrastName="S_D">Sales Director</span>
                                 </div>
                                 <div class="mt-3 news-agile-text">
                                    <img src="../static/instruments/piano.jpg" alt="" class="image-fluid" style="height: 470px">
                                    <p class="mt-3"><span class="fas fa-quote-left"></span>
                                        <p class="i18n" contrastName="Piano_REC" style="margin-left: 30px">
                                        Our pianos are not only affordable,
                                        but also provide warranty service and tuning service.
                                        If the goods you receive have any quality problems,
                                        we will unconditionally return for you.
                                        </p>
                                        <span class="fas fa-quote-right"></span>
                                    </p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-6 clients-w3layouts-row">
                           <div class="least-w3layouts-text-gap">
                              <div class="row">
                                 <div class="col-md-4 col-sm-4 news-img">
                                    <img src="../static/picture/Morris.png" alt="" class="image-fluid">
                                 </div>
                                 <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                                    <h4>Morris
                                    </h4>
                                    <span class="mt-2 i18n" contrastName="S_VD">Sales Vice Director</span>
                                 </div>
                                 <div class="mt-3 news-agile-text">
                                    <img src="../static/instruments/drum.png" alt="" class="image-fluid" style="height: 470px">
                                    <p class="mt-3"><span class="fas fa-quote-left"></span>
                                        <p class="i18n" contrastName="Drum_REC" style="margin-left: 30px">
                                        Our drums are of good quality, and we will give you some common accessories. Warranty service is also provided.
                                        If there is any quality problem with the goods you receive,
                                        We will return and exchange the goods for you unconditionally.
                                        </p>
                                        <span class="fas fa-quote-right"></span>
                                    </p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                   <div class="carousel-item">
                     <div class="row">
                        <div class="col-lg-6 clients-w3layouts-row">
                           <div class="least-w3layouts-text-gap">
                              <div class="row">
                                 <div class="col-md-4 col-sm-4 news-img">
                                    <img src="../static/picture/Lewis.png" alt="" class="image-fluid">
                                 </div>
                                 <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                                    <h4>Lewis
                                    </h4>
                                    <span class="S_VD">Sales Vice Director</span>
                                 </div>
                                 <div class="mt-3 news-agile-text">
                                    <img src="../static/instruments/harmonica.jpg" alt="" class="image-fluid" style="height: 470px">
                                    <p class="mt-3"><span class="fas fa-quote-left"></span>
                                        <p class="i18n" contrastName="Harmonica_REC" style="margin-left: 30px">
                                        Our harmonica is of good quality, and we will give you a harmonica bag as a gift. Warranty service is also provided.
                                        If there is any quality problem with the goods you receive,
                                        We will return and exchange the goods for you unconditionally.
                                        </p>
                                        <span class="fas fa-quote-right"></span>
                                    </p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-6 clients-w3layouts-row">
                           <div class="least-w3layouts-text-gap">
                              <div class="row">
                                 <div class="col-md-4 col-sm-4 news-img">
                                    <img src="../static/picture/Pierre.png" alt="" class="image-fluid">
                                 </div>
                                 <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                                    <h4>Pierre
                                    </h4>
                                    <span class="mt-2 i18n" contrastName="S_VD">Sales Vice Director</span>
                                 </div>
                                 <div class="mt-3 news-agile-text">
                                    <img src="../static/instruments/erhu.jpg" alt="" class="image-fluid" style="height: 470px">
                                    <p class="mt-3"><span class="fas fa-quote-left"></span>
                                        <p class="i18n" contrastName="Erhu_REC" style="margin-left: 30px">
                                        Our erhu is of good quality at a favorable price. Warranty service is also provided.
                                        If there is any quality problem with the goods you receive,
                                        We will return and exchange the goods for you unconditionally.
                                        </p>
                                     <span class="fas fa-quote-right"></span>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
               </a>
               <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
               <span class="carousel-control-next-icon" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
               </a>
            </div>
         </div>
      </section>
      <!--//Customers Review -->
      <!-- Product-view -->
      <section class="product py-lg-4 py-md-3 py-sm-3 py-3">
         <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
            <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3 i18n" contrastName="Latest">Latest Instruments</h3>
            <div class=" img-toy-w3l-top">
            </div>
            <div class="mt-lg-4 mt-3 product-info-img">
               <p class="i18n" contrastName="Latest_1">
                   New products on the new, welcome customers to buy.
                   Affordable and of good quality, choosing our instruments
                   will not make you regret your choice.
               </p>
               <div class="clients_more-buttn" >
                  <a href="shop" class="i18n" contrastName="SHOPNOW">Shop Now</a>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-6 img-toy-w3l-left">
                  <div class="toys-img-one">
                  </div>
                  <div class="mt-lg-4 mt-3 product-info-img">
                     <p class="i18n" contrastName="Latest_2">
                         New drum set, strict quality control, the use of selected materials
                         to ensure its consistency and stability, give the drummer the best experience
                     </p>
                     <div class="clients_more-buttn">
                        <a href="shop" class="i18n" contrastName="SHOPNOW">Shop Now</a>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 img-toy-agile-right">
                  <div class="toys-img-one-two">
                  </div>
                  <div class="mt-lg-4 mt-3 product-info-img">
                     <p class="i18n" contrastName="Latest_3">
                         A good guitar should be made of good wood, high-quality wood, so that the guitar is
                         strong and durable, and the strings, bridge and other combinations of high-quality timbre
                     </p>
                     <div class="clients_more-buttn">
                        <a href="shop" class="i18n" contrastName="SHOPNOW">Shop Now</a>
                     </div>
                  </div>
                  <div class="toys-img-one-three">
                  </div>
                  <div class="mt-lg-4 mt-3 product-info-img">
                     <p class="i18n" contrastName="Latest_4">
                         Professional pianos are made of advanced materials,
                         with more realistic tone and stronger tone quality.
                     </p>
                     <div class="clients_more-buttn">
                        <a href="shop i18n" contrastName="SHOPNOW">Shop Now</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!--//Product-view-->
      <!--//Product-view-->
      <section class="premium py-lg-4 py-md-3 py-sm-3 py-3">
         <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
            <h3 class="title clr text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3 i18n" contrastName="Premium">Premium Instruments</h3>
            <div class="row">
               <div class="col-lg-6 agileits-toys-left"></div>
               <div class="col-lg-6" style="padding-top: 95px">
                  <div class="sub-agile-info-toys">
                     <p class="i18n" contrastName="zheng_Pre">Professional zhengs are made of advanced materials, with more realistic tone and stronger tone quality
                     </p>
                     <div class="clients_more-buttn">
                        <a href="shop" class="mb-0 i18n" contrastName="SHOPNOW">Shop Now</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row mt-lg-4 mt-md-4 mt-3">
               <div class="col-lg-6" style="padding-top: 95px">
                  <div class="sub-agile-info-toys">
                     <p class="i18n" contrastName="Harmonicas_Pre">Professional harmonicas are made of advanced materials, with more realistic tone and stronger tone quality
                     </p>
                     <div class="clients_more-buttn ">
                        <a href="shop" class="mb-0 i18n" contrastName="SHOPNOW">Shop Now</a>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 agileits-toys-left" style="background: url(../static/instruments/harmonica.png) no-repeat center;"></div>
            </div>
         </div>
      </section>
      <!--Product-about-->
      <section class="about py-lg-4 py-md-3 py-sm-3 py-3">
         <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
            <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3 i18n" contrastName="About">About Our Store</h3>
            <div class="about-products-w3layouts">
               <p class="i18n" contrastName="About_p1">
                   Doraemon Musical Instrument Co.  is a famous brand of piano and drum.
                   The company is run by the family, has been opening offline stores, has been selling
                   Musical Instruments in the local for many years, accumulated a good reputation,
                   all kinds of Musical Instruments superior quality, excellent sound quality.

               </p>
               <p class="my-lg-4 my-md-3 my-3 i18n" contrastName="About_p2">
                   At present, we have opened an online shopping channel to welcome our dear customers
                   to buy our instruments.  We provide professional after-sales service, support
                   door-to-door delivery, free door-to-door repair within the warranty period.  In addition,
                   there is a special customer service can answer all your questions about the instrument.
               </p>

            </div>
         </div>
      </section>
      <!--//Product-about-->
      <!--subscribe-address-->
      <section class="subscribe">
         <div class="container-fluid">
         <div class="row">
           <div class="col-lg-6 col-md-6 map-info-right px-0 text-center">
                    <div class="address-gried-2">
                        <b class="i18n" contrastName="DIS">Doraemon Instrument Store</b>
                        <p class="i18n" contrastName="GYBCOI">
                            Give you best choices of instruments!
                        </p>
                    </div>
                </div>
            <div class="col-lg-6 col-md-6 address-w3l-right text-center">
<!--               <div class="address-gried ">-->
<!--                  <span class="far fa-map"></span>-->
<!--                  <p>25478 Road St.121<br>USA New Hill-->
<!--                  <p>-->
<!--               </p></div>-->
               <div class="address-gried mt-3">
                  <span class="fas fa-phone-volume"></span>
                  <p> 13718691558<br></p>
               </div>
               <div class=" address-gried mt-3">
                  <span class="far fa-envelope"></span>
                  <p><a href="mailto:info@example.com">519315516@qq.com</a>
<!--                     <br><a href="mailto:info@example.com">info@example2.com</a>-->
                  </p>
               </div>
            </div>
         </div>
		 </div>
      </section>
      <!--//subscribe-address-->

      <!--//subscribe-->
      <!-- footer -->
      <footer class="py-lg-4 py-md-3 py-sm-3 py-3 text-center">
         <div class="copy-agile-right">
            <p class="i18n" contrastName="BTTT">Developed by Group_2 Doraemon</p>
         </div>
      </footer>
      <!-- //footer -->
      <!-- Modal 1-->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <div class="register-form">
                     <form action="#" method="post">
                        <div class="fields-grid">
                           <div class="styled-input">
                              <input type="text" placeholder="Your Name" name="Your Name" required="">
                           </div>
                           <div class="styled-input">
                              <input type="email" placeholder="Your Email" name="Your Email" required="">
                           </div>
                           <div class="styled-input">
                              <input type="password" placeholder="password" name="password" required="">
                           </div>
                           <button type="submit" class="btn subscrib-btnn">Login</button>
                        </div>
                     </form>
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               </div>
            </div>
         </div>
      </div>
      <!-- //Modal 1-->
      <!--js working-->
      <script src='../static/js/jquery-2.2.3.min.js'></script>
      <!--//js working-->
      <!-- cart-js -->
      <script src="../static/js/minicart.js"></script>
      <script>
         toys.render();
         
         toys.cart.on('toys_checkout', function (evt) {
         	var items, len, i;
         
         	if (this.subtotal() > 0) {
         		items = this.items();
         
         		for (i = 0, len = items.length; i < len; i++) {}
         	}
         });
      </script>
      <!-- //cart-js -->
      <!--responsiveslides banner/首页轮播图活动代码-->
      <script src="../static/js/responsiveslides.min.js"></script>
      <script>
         // You can also use "$(window).load(function() {"
         $(function () {
         	// Slideshow 4
         	$("#slider4").responsiveSlides({
         		auto: true,
         		pager:false,
         		nav:true ,
         		speed: 900,
         		namespace: "callbacks",
         		before: function () {
         			$('.events').append("<li>before event fired.</li>");
         		},
         		after: function () {
         			$('.events').append("<li>after event fired.</li>");
         		}
         	});

         });
      </script>
      <!--// responsiveslides banner-->	 
      <!--slider flexisel -->
      <script src="../static/js/jquery.flexisel.js"></script>
      <!-- //slider flexisel -->
      <!-- start-smoth-scrolling -->
      <script src="../static/js/move-top.js"></script>
      <script src="../static/js/easing.js"></script>
      <script>
         jQuery(document).ready(function ($) {
         	$(".scroll").click(function (event) {
         		event.preventDefault();
         		$('html,body').animate({
         			scrollTop: $(this.hash).offset().top
         		}, 900);
         	});
         });
      </script>
      <!-- start-smoth-scrolling -->
      <!-- here stars scrolling icon -->
      <script>
         $(document).ready(function () {

         	var defaults = {
         		containerID: 'toTop', // fading element id
         		containerHoverID: 'toTopHover', // fading element hover id
         		scrollSpeed: 1200,
         		easingType: 'linear'
         	};
         	$().UItoTop({
         		easingType: 'easeOutQuart'
         	});

         });
      </script>
      <!-- //here ends scrolling icon -->
      <!--bootstrap working-->
      <script src="../static/js/bootstrap.min.js"></script>
      <!-- //bootstrap working-->

{% endblock %}
