<head>
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}" type="text/javascript"></script>
</head>
<body onselectstart="return false;">

<link href="../static/css/shopping_cart.css" rel='stylesheet' type='text/css' media="all">

<div class="box" id="box" >
   <div class="toumingzi">
                    <div class="desc">
                        <h1 class="payword1"><span>Purchase failed</span></h1>
                        <p class="payword"><b>Insufficient account balance</b> </p>
                        <button class="paybt"  onclick="location.href='http://127.0.0.1:5000/top_up'">top up</button>
                        <button class="paybt"  onclick="javascript:history.back(-1);">back</button>





                    </div>
                </div>
</div>