{% extends "base.html" %}
{% block content %}
      <!--meta tags -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="Toys Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design">
      <script>
         addEventListener("load", function () {
         	setTimeout(hideURLbar, 0);
         }, false);

         function hideURLbar() {
         	window.scrollTo(0, 1);
         }
      </script>
      <!--//meta tags ends here-->
      <!--booststrap-->
      <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
      <!--//booststrap end-->
      <!-- font-awesome icons -->
      <link href="../static/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
      <!-- //font-awesome icons -->
      <!--Shoping cart-->
      <link rel="stylesheet" href="../static/css/shop.css" type="text/css">
      <!--//Shoping cart-->
      <!--stylesheets-->
      <link href="../static/css/style.css" rel='stylesheet' type='text/css' media="all">
      <!--//stylesheets-->
      <style>
      .img-items{
          height: 200px;
          width: 200px;
      }
      .result-list{
          display: flex;
          border: 3px solid #ea1d5d;
          margin: 5px;
      }
      .item-info{
          width: fill-available;
          width: -moz-available;
          width: -webkit-fill-available;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
      }
      .show-text{
          width: 50%;
          font-size: 17px;
          overflow:hidden;
          white-space:nowrap;
          text-overflow:ellipsis;
      }
      </style>
      <template id="item">
          {% for search_results in final_search %}
            <div class="result-list">

                <img href="main_page" src="{{ search_results.pic_path1 }}" alt=" " class="img-items">
                <div class="item-info">
                    <a style="font-size: 35px;cursor: pointer"><b>{{ search_results.commodity_name }}</b></a>
                    <p style="font-size: 20px"><b>price: </b>{{ search_results.price }} <b>$</b></p>
                    <p class="show-text">
                        {{ search_results.introduction }}
                    </p>
                </div>

            </div>
      {% endfor %}
      </template>

      <!-- banner -->
      <div class="inner_page-banner one-img">
      </div>
      <!--//banner -->
      <!-- short -->
      <div class="using-border py-3">
         <div class="inner_breadcrumb  ml-4">
            <ul class="short_ls">
               <li>
                  <a href="index" class="i18n" contrastName="HOME">Home</a>
                  <span>/ /</span>
               </li>
               <li class="i18n" contrastName="SEARCH_RESULTS">Search Results</li>
            </ul>
         </div>
      </div>
      <!-- //short-->
      <!--//banner -->

      <!-- results show -->
      <div id="results">

          {% for search_results in final_search %}
            <div class="result-list">

                <img href="main_page" src="{{ search_results.pic_path1 }}" alt=" " class="img-items">
                <div class="item-info">
                    <a href="single/{{ search_results.id }}" style="font-size: 35px;cursor: pointer; color: black" ><b>{{ search_results.commodity_name }}</b></a>
                    <p style="font-size: 20px"><b>price: $</b>{{ search_results.price }} </p>
                    <p class="show-text">
                        {{ search_results.introduction }}
                    </p>
                </div>

            </div>
      {% endfor %}


      </div>
      <!--//results show-->

      <!--subscribe-address-->
      <section class="subscribe">
         <div class="container-fluid">
         <div class="row">
            <div class="col-lg-6 col-md-6 map-info-right px-0">
               <iframe src="javascript:;"> </iframe>
            </div>
            <div class="col-lg-6 col-md-6 address-w3l-right text-center">
               <div class="address-gried ">
                  <span class="far fa-map"></span>
                  <p>25478 Road St.121<br>USA New Hill
                  <p>
               </p></div>
               <div class="address-gried mt-3">
                  <span class="fas fa-phone-volume"></span>
                  <p> +(000)123 4565<br>+(010)123 4565</p>
               </div>
               <div class=" address-gried mt-3">
                  <span class="far fa-envelope"></span>
                  <p><a href="mailto:info@example.com">info@example1.com</a>
                     <br><a href="mailto:info@example.com">info@example2.com</a>
                  </p>
               </div>
            </div>
         </div>
		 </div>
      </section>
      <!--//subscribe-address-->
      <section class="sub-below-address py-lg-4 py-md-3 py-sm-3 py-3">
         <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
            <h3 class="title clr text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Get In Touch Us</h3>
            <div class="icons mt-4 text-center">
               <ul>
                  <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                  <li><a href="#"><span class="fas fa-envelope"></span></a></li>
                  <li><a href="#"><span class="fas fa-rss"></span></a></li>
                  <li><a href="#"><span class="fab fa-vk"></span></a></li>
               </ul>
               <p class="my-3">velit sagittis vehicula. Duis posuere
                  ex in mollis iaculis. Suspendisse tincidunt
                  velit sagittis vehicula. Duis posuere
                  velit sagittis vehicula. Duis posuere
               </p>
            </div>
            <div class="email-sub-agile">
               <form action="#" method="post">
                  <div class="form-group sub-info-mail">
                     <input type="email" class="form-control email-sub-agile" placeholder="Email">
                  </div>
                  <div class="text-center">
                     <button type="submit" class="btn subscrib-btnn">Subscribe</button>
                  </div>
               </form>
            </div>
         </div>
      </section>
      <!--//subscribe-->
      <!-- footer -->
      <footer class="py-lg-4 py-md-3 py-sm-3 py-3 text-center">
         <div class="copy-agile-right">
            <p>
               Copyright &copy; 2022.Company name All rights reserved.
            </p>
         </div>
      </footer>
      <!-- //footer -->
      <!-- Modal 1-->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <div class="register-form">
                     <form action="#" method="post">
                        <div class="fields-grid">
                           <div class="styled-input">
                              <input type="text" placeholder="Your Name" name="Your Name" required="">
                           </div>
                           <div class="styled-input">
                              <input type="email" placeholder="Your Email" name="Your Email" required="">
                           </div>
                           <div class="styled-input">
                              <input type="password" placeholder="password" name="password" required="">
                           </div>
                           <button type="submit" class="btn subscrib-btnn">Login</button>
                        </div>
                     </form>
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               </div>
            </div>
         </div>
      </div>
      <!-- //Modal 1-->
      <!--js working-->
      <script src='../static/js/jquery-2.2.3.min.js'></script>
      <!--//js working-->
      <!-- cart-js -->
      <script src="../static/js/minicart.js"></script>
      <script>
         toys.render();

         toys.cart.on('toys_checkout', function (evt) {
         	var items, len, i;

         	if (this.subtotal() > 0) {
         		items = this.items();

         		for (i = 0, len = items.length; i < len; i++) {}
         	}
         });
      </script>
      <!-- //cart-js -->
      <!-- start-smoth-scrolling -->
      <script src="../static/js/move-top.js"></script>
      <script src="../static/js/easing.js"></script>
      <script>
         jQuery(document).ready(function ($) {
         	$(".scroll").click(function (event) {
         		event.preventDefault();
         		$('html,body').animate({
         			scrollTop: $(this.hash).offset().top
         		}, 900);
         	});
         });
      </script>
      <!-- start-smoth-scrolling -->
      <!-- here stars scrolling icon -->
      <script>
         $(document).ready(function () {

            {#var arr = [];/*表单的数据*/#}
            {#arr[arr.length] = {src:'../static/instruments/clarionet.jpg',url:'main_page',item_title: 'Clarionet', price: '2333', description: 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'};#}
            {#arr[arr.length] = {src:'../static/instruments/erhu.jpg',url:'main_page',item_title: 'Erhu', price: '1111', description: 'bbbbbbbbbbbbbb'};#}
            {#var temp=document.getElementById('item').innerHTML;#}
            {#var tbody=document.getElementById('results');#}
            {#for(var i=0;i<arr.length;i++){#}
            {#    tbody.innerHTML += temp.replace("{src}", arr[i].src).replace("{item-title}", arr[i].item_title).replace("{price}", arr[i].price)#}
            {#        .replace("{description}", arr[i].description);#}
            {#}#}

         	var defaults = {
         		containerID: 'toTop', // fading element id
         		containerHoverID: 'toTopHover', // fading element hover id
         		scrollSpeed: 1200,
         		easingType: 'linear'
         	};


         	$().UItoTop({
         		easingType: 'easeOutQuart'
         	});

         });
      </script>
      <!-- //here ends scrolling icon -->
      <!--bootstrap working-->
      <script src="../static/js/bootstrap.min.js"></script>
      <!-- //bootstrap working-->      <!-- //OnScroll-Number-Increase-JavaScript -->
{% endblock %}
