{% extends "base.html" %}
{% block content %}
    <!--meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Toys Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--//meta tags ends here-->
    <!--booststrap-->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <!--//booststrap end-->
    <!-- font-awesome icons -->
    <link href="../static/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
    <!-- //font-awesome icons -->
    <!--Shoping cart-->
    <link rel="stylesheet" href="../static/css/shop.css" type="text/css">
    <!--//Shoping cart-->
    <!--price range-->
    <link rel="stylesheet" type="text/css" href="../static/css/jquery-ui1.css">
    <!--//price range-->
    <!--stylesheets-->
    <link href="../static/css/style.css" rel='stylesheet' type='text/css' media="all">
    <!--//stylesheets-->

    <!-- banner -->
    <div class="inner_page-banner one-img">
    </div>
    <!--//banner -->
    <!-- short -->
    <div class="using-border py-3">
        <div class="inner_breadcrumb  ml-4">
            <ul class="short_ls">
                <li>
                    <a href="index">Home</a>
                    <span>/ /</span>
                </li>
                <li>Shop Now</li>
            </ul>
        </div>
    </div>
    <!-- //short-->
    <!--show Now-->
    <!--show Now-->
    <section class="contact py-lg-4 py-md-3 py-sm-3 py-3">

        <div class="container-fluid py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Instruments Shop</h3>
            {% if authority ==1 %}
                <button type="button" class="addproduct" onclick="location.href='http://127.0.0.1:5000/newsingle'">add
                    product
                </button>

            {% endif %}
            <div class="row">
                <div class="side-bar col-lg-3">
                    <div class="search-hotel">
                        <h3 class="agileits-sear-head">Search Here..</h3>
                        <form action="#" method="post">
                            <input type="search" placeholder="Product name..." name="search" required="">
                            <input type="submit" value=" ">
                        </form>
                    </div>
{#                    <!-- price range -->#}
{#                    <div class="range">#}
{#                        <h3 class="agileits-sear-head">Price range</h3>#}
{#                        <ul class="dropdown-menu6">#}
{#                            <li>#}
{##}
{#                                <div id="slider-range"></div>#}
{#                                <input type="text" id="amount" style="border: 0; color: #ffffff; font-weight: normal;">#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
{#                    <!-- //price range -->#}

                    <!-- deals -->

                    <div class="deal-leftmk left-side">

                        <h3 class="agileits-sear-head">The Newest commodities</h3>

                        {% for commodity in new_commodities %}
                            <div class="row special-sec1">

                                <div class="col-xs-4 img-deals">
                                    <img src="{{ commodity.pic_path }}" alt="" class="img-fluid">
                                </div>
                                <div class="col-xs-8 img-deal1">
                                    <h3>{{ commodity.commodity_name }}</h3>
                                    <a href="single/{{ commodity.id }}">{{ commodity.price }}</a>
                                </div>
                                <div class="clearfix"></div>

                            </div>
                        {% endfor %}


                    </div>

                    <!-- //deals -->
                </div>
                <div class="left-ads-display col-lg-9">
                    {% for commodity in commodities %}
                        <div class="row">

                            <div class="col-lg-4 col-md-6 col-sm-6 product-men women_two">
                                <div class="product-toys-info">

                                    <div class="men-pro-item">

                                        <div class="men-thumb-item">


                                            <img src="{{ commodity.pic_path }}" class="img-thumbnail img-fluid" alt="">


                                            <div class="men-cart-pro">
                                                <div class="inner-men-cart-pro">
                                                    <a href="single/{{ commodity.id }}" class="link-product-add-cart">Quick
                                                        View</a>
                                                </div>
                                            </div>

                                            <span class="product-new-top">New</span>

                                        </div>


                                        <div class="item-info-product">
                                            <div class="info-product-price">
                                                <div class="grid_meta">

                                                    <div class="product_price">
                                                        <h4>

                                                            <a href="single/{{ commodity.id }}">{{ commodity.commodity_name }}</a>

                                                        </h4>
                                                        <div class="grid-price mt-2">
                                                            <span class="money ">${{ commodity.price }}</span>
                                                        </div>
                                                    </div>
                                                    <ul class="stars">
                                                        <li>
                                                            <a href="#">
                                                                <i class="fas fa-star"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fas fa-star"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fas fa-star"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fas fa-star"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="far fa-star-half-o"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="toys single-item hvr-outline-out">
                                                    {#                                                    <form action="#" method="post">#}
                                                    <input type="hidden" name="cmd" value="_cart">
                                                    <input type="hidden" name="add" value="1">
                                                    <input type="hidden" name="toys_item" value="toys(barbie)">
                                                    <input type="hidden" name="amount" value="575.00">
                                                    <input type="hidden" id="user_id"
                                                           value="{{ user_id }}"/>
                                                    <input type="hidden" value="{{ commodity.id }}"
                                                           id="commodity_id">
                                                    <button id="button_collect{{ commodity.id }}"
                                                            class="toys-cart ptoys-cart"
                                                            {% if commodity.is_collected %}
                                                            style="background: rgb(255, 193, 7)"
                                                            {% else %}
                                                            style="background: #00b9ff"
                                                            {% endif %}
                                                            onclick=collect("{{ commodity.id }}")>
                                                        <i class="fas fa-star"></i>
                                                    </button>
                                                    {#                                                    </form>#}
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </section>
    <!-- //show Now-->
    <!--subscribe-address-->
    <section class="subscribe">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 map-info-right px-0">
                    <iframe src="javascript:;"></iframe>
                </div>
                <div class="col-lg-6 col-md-6 address-w3l-right text-center">
                    <div class="address-gried ">
                        <span class="far fa-map"></span>
                        <p>25478 Road St.121<br>USA New Hill
                        <p>
                        </p></div>
                    <div class="address-gried mt-3">
                        <span class="fas fa-phone-volume"></span>
                        <p> +(000)123 4565<br>+(010)123 4565</p>
                    </div>
                    <div class=" address-gried mt-3">
                        <span class="far fa-envelope"></span>
                        <p><a href="mailto:info@example.com">info@example1.com</a>
                            <br><a href="mailto:info@example.com">info@example2.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//subscribe-address-->
    <section class="sub-below-address py-lg-4 py-md-3 py-sm-3 py-3">
        <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
            <h3 class="title clr text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Get In Touch Us</h3>
            <div class="icons mt-4 text-center">
                <ul>
                    <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                    <li><a href="#"><span class="fas fa-envelope"></span></a></li>
                    <li><a href="#"><span class="fas fa-rss"></span></a></li>
                    <li><a href="#"><span class="fab fa-vk"></span></a></li>
                </ul>
                <p class="my-3">velit sagittis vehicula. Duis posuere
                    ex in mollis iaculis. Suspendisse tincidunt
                    velit sagittis vehicula. Duis posuere
                    velit sagittis vehicula. Duis posuere
                </p>
            </div>
            <div class="email-sub-agile">
                <form action="#" method="post">
                    <div class="form-group sub-info-mail">
                        <input type="email" class="form-control email-sub-agile" placeholder="Email">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn subscrib-btnn">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!--//subscribe-->
    <!-- footer -->
    <footer class="py-lg-4 py-md-3 py-sm-3 py-3 text-center">
        <div class="copy-agile-right">
            <p>
                Copyright &copy; 2022.Company name All rights reserved.<a target="_blank"
                                                                          href="https://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
            </p>
        </div>
    </footer>
    <!-- //footer -->
    <!-- Modal 1-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="register-form">
                        <form action="#" method="post">
                            <div class="fields-grid">
                                <div class="styled-input">
                                    <input type="text" placeholder="Your Name" name="Your Name" required="">
                                </div>
                                <div class="styled-input">
                                    <input type="email" placeholder="Your Email" name="Your Email" required="">
                                </div>
                                <div class="styled-input">
                                    <input type="password" placeholder="password" name="password" required="">
                                </div>
                                <button type="submit" class="btn subscrib-btnn">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- //Modal 1-->
    <!--js working-->
    <script src='../static/js/jquery-2.2.3.min.js'></script>
    <!--//js working-->
    <!-- cart-js -->
    <script src="../static/js/minicart.js"></script>


    <script>
        toys.render();

        toys.cart.on('toys_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) {
                }
            }
        });
    </script>
    <!-- //cart-js -->
    <!-- price range (top products) -->
    <script src="../static/js/jquery-ui.js"></script>
    <script>
        //<![CDATA[
        $(window).load(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 9000,
                values: [50, 6000],
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                }
            });
            $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

        }); //]]>
    </script>
    <!-- //price range (top products) -->

    <!-- start-smoth-scrolling -->
    <script src="../static/js/move-top.js"></script>
    <script src="../static/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- here stars scrolling icon -->
    <script>
        $(document).ready(function () {

            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };


            $().UItoTop({
                easingType: 'easeOutQuart'
            });


        });
    </script>

    <script>
        function Ajax(type, url, data, success, failed) {
            // 创建ajax对象
            var xhr = null;
            if (window.XMLHttpRequest) {
                xhr = new XMLHttpRequest();
            } else {
                xhr = new ActiveXObject('Microsoft.XMLHTTP')
            }

            var type = type.toUpperCase();
            // 用于清除缓存
            var random = Math.random();

            if (typeof data == 'object') {
                var str = '';
                for (var key in data) {
                    str += key + '=' + data[key] + '&';
                }
                data = str.replace(/&$/, '');
            }

            if (type == 'GET') {
                if (data) {
                    xhr.open('GET', url + '?' + data, true);
                } else {
                    xhr.open('GET', url + '?t=' + random, true);
                }
                xhr.send();

            } else if (type == 'POST') {
                xhr.open('POST', url, true);
                // 如果需要像 html 表单那样 POST 数据，请使用 setRequestHeader() 来添加 http 头。
                xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhr.send(data);
            }

            // 处理返回数据
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4) {
                    if (xhr.status == 200) {
                        success(xhr.responseText);
                    } else {
                        if (failed) {
                            failed(xhr.status);
                        }
                    }
                }
            }
        }
    </script>

    <script>
        function collect(commodity) {
            var sendData = {
                "user_id": document.getElementById("user_id").value,
                "commodity_id": document.getElementById("commodity_id").value,
                "commodity": commodity

            };
            if ("{{ user_id }}" == "None") {
                alert("please login");
            } else
                Ajax('post', '/collect', sendData, function (data) {
                    if (document.getElementById("button_collect" + commodity).style.background === "rgb(255, 193, 7)") {
                        console.log("12")
                        document.getElementById("button_collect" + commodity).style.background = "#00b9ff"
                    } else {
                        console.log("123")
                        document.getElementById("button_collect" + commodity).style.background = "rgb(255, 193, 7)"
                    }
                    alert(data)
                    {#console.log("123");#}
                    {#location.reload();#}

                }, function (error) {
                    console.log(error);
                });
        }
    </script>

    <!-- //here ends scrolling icon -->
    <!--bootstrap working-->
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- //bootstrap working-->
{% endblock %}