{% extends "base.html" %}
{% block content %}
    <!--meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Toys Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--//meta tags ends here-->
    <!--booststrap-->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <!--//booststrap end-->
    <!-- font-awesome icons -->
    <link href="../static/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
    <!-- //font-awesome icons -->
    <!--Shoping cart-->
    <link rel="stylesheet" href="../static/css/shop.css" type="text/css">
    <!--//Shoping cart-->
    <link rel="stylesheet" type="text/css" href="../static/css/jquery-ui1.css">
    <link href="../static/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/css/flexslider.css" type="text/css" media="screen">
    <!--stylesheets-->
    <link href="../static/css/style.css" rel='stylesheet' type='text/css' media="all">
    <!--//stylesheets-->
    <!-- banner -->
    <div class="inner_page-banner one-img">
    </div>
    <!--//banner -->
    <!-- short -->
    <div class="using-border py-3">
        <div class="inner_breadcrumb  ml-4">
            <ul class="short_ls">
                <li>
                    <a href="../index" class="i18n" contrastName="HOME">Home</a>
                    <span>/ /</span>
                </li>
                <li class="i18n" contrastName="SINGLE_PAGE">Single Page</li>
            </ul>
        </div>
    </div>
    <!-- //short-->
    <!--//banner -->
    <!--/shop-->
    <section class="banner-bottom py-lg-5 py-3">
        <div class="container">
            <div class="inner-sec-shop pt-lg-4 pt-3">
                <div class="row">
                    <div class="col-lg-4 single-right-left ">
                        <div class="grid images_3_of_2">
                            <div class="flexslider1">
                                <ul class="slides">
                                    {% if commodity.pic_path1 is not none %}
                                        <li data-thumb="{{ commodity.pic_path1 }}">
                                            <div style="display:flex;justify-content: center"><img
                                                    src="{{ commodity.pic_path1 }}" data-imagezoom="true" class="img-fluid"
                                                    alt=" "></div>
                                        </li>
                                    {% endif %}
                                    {% if commodity.pic_path2 is not none %}
                                        <li data-thumb="{{ commodity.pic_path2 }}">
                                            <div style="display:flex;justify-content: center"><img
                                                    src="{{ commodity.pic_path2 }}" data-imagezoom="true" class="img-fluid"
                                                    alt=" "></div>
                                        </li>
                                    {% else %}
                                        <li data-thumb="{{ commodity.pic_path1 }}">
                                        <div style="display:flex;justify-content: center"><img
                                                src="{{ commodity.pic_path1 }}" data-imagezoom="true" class="img-fluid"
                                                alt=" "></div>
                                        </li>
                                    {% endif %}
                                    {% if commodity.pic_path3 is not none %}
                                        <li data-thumb="{{ commodity.pic_path3 }}">
                                            <div style="display:flex;justify-content: center"><img
                                                    src="{{ commodity.pic_path3 }}" data-imagezoom="true" class="img-fluid"
                                                    alt=" "></div>
                                        </li>
                                    {% else %}
                                        <li data-thumb="{{ commodity.pic_path1 }}">
                                            <div style="display:flex;justify-content: center"><img
                                                    src="{{ commodity.pic_path1 }}" data-imagezoom="true" class="img-fluid"
                                                    alt=" "></div>
                                        </li>
                                    {% endif %}
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 single-right-left simpleCart_shelfItem">
                        <h3>{{ commodity.commodity_name }}</h3>
                        <p><span class="item_price">{{ commodity.price }}</span>
                            {#                        <del>$1,199</del>#}
                        </p>
                        <div class="rating1">
                            <ul class="stars">
                                <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="color-quality">
                            <div class="color-quality-right">
                                <h5><span class="i18n"
                                          contrastName="STOCK">stock: </span>{{ commodity. cargo_quantity }}</h5>
                            </div>
                        </div>
                        <div class="occasional">
                            <h5 class="i18n" contrastName="YCCHTLTS">You can click here to listen the sound!</h5>

                            {#                        <div class="colr ert">#}
                            {#                           <label class="radio"><input type="radio" name="radio" checked=""><i></i> Soft Teddy Bear (Black)</label>#}
                            {#                        </div>#}
                            {#                        <div class="colr">#}
                            {#                           <label class="radio"><input type="radio" name="radio"><i></i>Soft Teddy Bear (Brown)</label>#}
                            {#                        </div>#}
                            <audio id="audio" src="/static/music/{{ commodity.commodity_name }}.mp3"></audio>
                            <button class="music" type="button" onclick="play_pause_music()"
                                    style="background: url(../static/image/sound.jpg); width: 60px; height: 60px">
                            </button>
                            {#                        <div class="clearfix"> </div>#}
                        </div>
                        <div class="occasion-cart">
                            <div class="toys single-item singlepage">
                                <form action="" method="post" name="form1">
                                    {% if authority !=1 %}
                                        <p class="payword">
                                            <b class="i18n" contrastName="NUMBER">Number :</b>
                                            <select id="country1" onchange="change_country(this.value)"
                                                    class="frm-field required sect" name="number">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                {#                               </span><input name="box" style="width:50px;position:absolute;left:20px;">#}

                                            </select>
                                        </p>
                                    {% endif %}
                                    {#                              <input type="hidden" name="cmd" value="_cart">#}
                                    {#                              <input type="hidden" name="add" value="1">#}
                                    {#                              <input type="hidden" name="toys_item" value="Farenheit">#}
                                    {#                              <input type="hidden" name="amount" value="575.00">#}
                                    <input type="hidden" name="commodity_id" value="{{ commodity.id }}">
                                    <input type="hidden" name="num" value="1">

                                    {% if authority !=1 %}
                                        <button onclick="form1.action='/cart/add'" type="submit"
                                                class="toys-cart ptoys-cart add i18n" contrastName="ADD_TO_CART">Add to
                                            Cart
                                        </button>
                                    {% endif %}
                                    {% if authority ==1 %}
                                        <button type="button" class="toys-cart ptoys-cart add i18n"
                                                onclick="location.href='/modify_commodity'" contrastName="EDIT_PRODUCT">
                                            edit product
                                        </button>
                                    {% else %}
                                        <button class="toys-cart ptoys-cart add i18n"
                                                onclick="form1.action='/single/add'" type="submit"
                                                contrastName="BUY_PRODUCT">buy product
                                        </button>

                                    {% endif %}
                                </form>
                            </div>
                        </div>
                        <ul class="footer-social text-left mt-lg-4 mt-3">
                            <li class="i18n" contrastName="SHARE_ON">Share On :</li>
                            <li class="mx-1">
                                <a href="#">
                                    <span class="fab fa-facebook-f"></span>
                                </a>
                            </li>
                            <li class="">
                                <a href="#">
                                    <span class="fab fa-twitter"></span>
                                </a>
                            </li>
                            <li class="mx-1">
                                <a href="#">
                                    <span class="fab fa-google-plus-g"></span>
                                </a>
                            </li>
                            <li class="">
                                <a href="#">
                                    <span class="fab fa-linkedin-in"></span>
                                </a>
                            </li>
                            <li class="mx-1">
                                <a href="#">
                                    <span class="fas fa-rss"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <!--/tabs-->
                    <div class="responsive_tabs">
                        <div id="horizontalTab">
                            <ul class="resp-tabs-list">
                                <li class="i18n" contrastName="DESCRIPTION">Description</li>
                                <li class="i18n" contrastName="REVIEWS">Reviews</li>
                            </ul>
                            <div class="resp-tabs-container">
                                <!--/tab_one-->
                                <div class="tab1">
                                    <div class="single_page">
                                        <h6>{{ commodity.commodity_name }}</h6>
                                        <p>
                                            {{ commodity.introduction }}
                                        </p>
                                        <p class="para">
                                            {#                                            Lorem ipsum dolor sit amet, consectetur adipisicing elPellentesque vehicula#}
                                            {#                                            augue eget nisl ullamcorper, molestie#}
                                            {#                                            blandit ipsum auctor. Mauris volutpat augue dolor.Consectetur adipisicing#}
                                            {#                                            elit, sed do eiusmod tempor incididunt#}
                                            {#                                            ut lab ore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud#}
                                            {#                                            exercitation ullamco. labore et dolore#}
                                            {#                                            magna aliqua.#}
                                        </p>
                                    </div>
                                </div>
                                <!--//tab_one-->
                                <div class="tab2">
                                    <div class="single_page">
                                        {% for review in reviews %}
                                            <div class="bootstrap-tab-text-grids">
                                            <div class="bootstrap-tab-text-grid">
                                                <div class="bootstrap-tab-text-grid-left">
                                                    <img style="width: 120px;height: 120px" src={{ review.ava }}>
                                                </div>
                                                <div class="bootstrap-tab-text-grid-right">
                                                    <ul>
                                                        <li><a href="#">{{ review.user }}</a></li>
                                                        {#                                             <li><a href="#"><i class="fa fa-reply-all" aria-hidden="true"></i> Reply</a></li>#}
                                                    </ul>
                                                    <strong>{{ review.title }}</strong>
                                                    <p>{{ review.text }}</p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        {% endfor %}
                                        {% if authority == 0 %}
                                            <div class="add-review">
                                                <h4 class="i18n" contrastName="ADD_A_REVIEW">add a review</h4>
                                                <form action="" method="post" enctype="multipart/form-data" novalidate>
                                                    {{ form.hidden_tag() }}
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            {#                                                <input type="text" name="Name" required="" placeholder="Title">#}
                                                            {{ form.title.label }}<br>
                                                            {{ form.title }}

                                                            {% for error in form.title.errors %}
                                                                <span style="color: red;">[{{ error }}]</span>
                                                            {% endfor %}
                                                        </div>
                                                        {#                                             <div class="col-md-6">#}
                                                        {#                                                <input type="email" name="Email" required="">#}
                                                        {#                                             </div>#}
                                                    </div>
                                                    {#                                          <textarea name="Message" required="" placeholder="Your comment ..."></textarea>#}
                                                    {{ form.text.label }}<br>
                                                    {{ form.text(size=128) }}

                                                    {% for error in form.text.errors %}
                                                        <span style="color: red;">[{{ error }}]</span>
                                                    {% endfor %}
                                                    {#                                          <input type="submit" value="SEND">#}
                                                    {{ form.send }}
                                                </form>
                                            </div>
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--//tabs-->
                </div>
            </div>
        </div>
    </section>
    <!--subscribe-address-->
    <section class="subscribe">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 map-info-right px-0">
                    <iframe src="javascript:;"></iframe>
                </div>
                <div class="col-lg-6 col-md-6 address-w3l-right text-center">
                    <div class="address-gried ">
                        <span class="far fa-map"></span>
                        <p>25478 Road St.121<br>USA New Hill
                        <p>
                        </p></div>
                    <div class="address-gried mt-3">
                        <span class="fas fa-phone-volume"></span>
                        <p> +(000)123 4565<br>+(010)123 4565</p>
                    </div>
                    <div class=" address-gried mt-3">
                        <span class="far fa-envelope"></span>
                        <p><a href="mailto:info@example.com">info@example1.com</a>
                            <br><a href="mailto:info@example.com">info@example2.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//subscribe-address-->
    <section class="sub-below-address py-lg-4 py-md-3 py-sm-3 py-3">
        <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
            <h3 class="title clr text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Get In Touch Us</h3>
            <div class="icons mt-4 text-center">
                <ul>
                    <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                    <li><a href="#"><span class="fas fa-envelope"></span></a></li>
                    <li><a href="#"><span class="fas fa-rss"></span></a></li>
                    <li><a href="#"><span class="fab fa-vk"></span></a></li>
                </ul>
                <p class="my-3">velit sagittis vehicula. Duis posuere
                    ex in mollis iaculis. Suspendisse tincidunt
                    velit sagittis vehicula. Duis posuere
                    velit sagittis vehicula. Duis posuere
                </p>
            </div>
            <div class="email-sub-agile">
                <form action="#" method="post">
                    <div class="form-group sub-info-mail">
                        <input type="email" class="form-control email-sub-agile" placeholder="Email">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn subscrib-btnn">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!--//subscribe-->
    <!-- footer -->
    <footer class="py-lg-4 py-md-3 py-sm-3 py-3 text-center">
        <div class="copy-agile-right">
            <p>
                Copyright &copy; 2022.Company name All rights reserved.
            </p>
        </div>
    </footer>
    <!-- //footer -->
    <!-- Modal 1-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="register-form">
                        <form action="#" method="post">
                            <div class="fields-grid">
                                <div class="styled-input">
                                    <input type="text" placeholder="Your Name" name="Your Name" required="">
                                </div>
                                <div class="styled-input">
                                    <input type="email" placeholder="Your Email" name="Your Email" required="">
                                </div>
                                <div class="styled-input">
                                    <input type="password" placeholder="password" name="password" required="">
                                </div>
                                <button type="submit" class="btn subscrib-btnn">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- //Modal 1-->
    <!--jQuery-->
    <script src="../static/js/jquery-2.2.3.min.js"></script>
    <!-- newsletter modal -->
    <!-- cart-js -->
    <script src="../static/js/minicart.js"></script>
    <script>
        toys.render();

        toys.cart.on('toys_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) {
                }
            }
        });
    </script>
    <!-- //cart-js -->
    <!-- price range (top products) -->
    <script src="../static/js/jquery-ui.js"></script>
    <script>
        //<![CDATA[
        $(window).load(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 9000,
                values: [50, 6000],
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                }
            });
            $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

        }); //]]>
    </script>
    <!-- //price range (top products) -->
    <!-- single -->
    <script src="../static/js/imagezoom.js"></script>
    <!-- single -->
    <!-- script for responsive tabs -->
    <script src="../static/js/easy-responsive-tabs.js"></script>
    <script>
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true, // 100% fit in a container
                closed: 'accordion', // Start closed if in accordion view
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
            {#$('#verticalTab').easyResponsiveTabs({#}
            {#	type: 'vertical',#}
            {#	width: 'auto',#}
            {#	fit: true#}
            {#/});#}
        });
    </script>
    <!-- FlexSlider -->
    <script src="../static/js/jquery.flexslider.js"></script>
    <script>
        // Can also be used with $(document).ready()
        $(window).load(function () {
            $('.flexslider1').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });
    </script>
    <!-- //FlexSlider-->
    <!-- start-smoth-scrolling -->
    <script src="../static/js/move-top.js"></script>
    <script src="../static/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
        var audio = document.getElementById("audio");

        function play_pause_music() {
            if (audio.paused) {
                audio.play();
            } else if (audio.played) {
                audio.pause();
            }
        }
    </script>
    <!-- start-smoth-scrolling -->
    <!-- here stars scrolling icon -->
    <script>
        $(document).ready(function () {

            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };


            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <!-- //smooth-scrolling-of-move-up -->
    <!--bootstrap working-->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- //bootstrap working-->
{% endblock %}