<head>
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}" type="text/javascript"></script>
</head>
<body onselectstart="return false;">

<link href="../static/css/shopping_cart.css" rel='stylesheet' type='text/css' media="all">

<div class="box" id="box" >
   <div class="toumingzi">
                    <div class="desc">
                        <form action="" method="post">
                            <h1 class="payword1 i18n" contrastName="TOP_UP"><span>TOP UP</span></h1>
                            <p class="payword i18n" contrastName="PETAYWTTU"><b>Please enter the amount you want to top up:</b> </p>
                            <input class="form-control" style="font-size: 24px" type="number" name="money" placeholder="Please enter..." required="" ></p>

                            <button  class="paybt i18n" type="submit" contrastName="CONFIRM_PAY">Confirm pay</button>

                            <button class="paybt i18n"  onclick="javascript:history.back(-1);{return false}" contrastName="BACK">back</button>
                        </form>






                    </div>
                </div>
</div>